@import '../../../theme/index.less';

.li-provessing-function {
  &__success-and-err {
    margin-top: 10px;

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;

      &-js {
        flex: 1;
        height: 100px;
      }

      &-icon {
        width: 30px;
        text-align: center;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
